---
    #################################
    #################################
    ## Super Linter GitHub Actions ##
    #################################
    #################################
    # https://github.com/github/super-linter
    name: Lint Code Base <Super Linter>
    
    #############################
    # Start the job on all push #
    #############################
    on:
      push:
        branches-ignore: [master, main]
        # Remove the line above to run when pushing to master
      pull_request:
        branches: [master, main]
    
    ###############
    # Set the Job #
    ###############
    jobs:
      build:
        # Name the Job
        name: Lint Code Base
        # Set the agent to run on
        runs-on: ubuntu-latest
    
        ############################################
        # Grant status permission for MULTI_STATUS #
        ############################################
        permissions: write-all
    
        ##################
        # Load all steps #
        ##################
        steps:
          ##########################
          # Checkout the code base #
          ##########################
          - name: Checkout Code
            uses: actions/checkout@v3
            with:
              # Full git history is needed to get a proper
              # list of changed files within `super-linter`
              fetch-depth: 0
    
          ################################
          # Run Linter against code base #
          ################################
          - name: Lint Code Base
            uses: github/super-linter/slim@v5
            env:
              VALIDATE_ALL_CODEBASE: true
              VALIDATE_JAVASCRIPT_ES: true
              VALIDATE_JAVASCRIPT_STANDARD: true
              VALIDATE_JSX: true
              VALIDATE_JSON: true
              JAVASCRIPT_DEFAULT_STYLE: prettier
              JAVASCRIPT_ES_CONFIG_FILE: .eslintrc.js
              LOG_LEVEL: DEBUG
              DEFAULT_BRANCH: master
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}